<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282999348569-pmv0ob5srnerrpumvhoj0ge8c0fahvdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282999348569-pmv0ob5srnerrpumvhoj0ge8c0fahvdm</string>
	<key>API_KEY</key>
	<string>AIzaSyBQFtqzwXU7jv1wOKKfow2gUUjNDfmA79o</string>
	<key>GCM_SENDER_ID</key>
	<string>282999348569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ng.com.intija.kaatane</string>
	<key>PROJECT_ID</key>
	<string>kaatane-5c28c</string>
	<key>STORAGE_BUCKET</key>
	<string>kaatane-5c28c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282999348569:ios:1d941f895dd2bc8a8f4048</string>
	<key>DATABASE_URL</key>
	<string>https://kaatane-5c28c.firebaseio.com</string>
</dict>
</plist>